In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Data_Marketing_Customer_Analysis_Round2.csv")

In [4]:
df.describe()

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,10910.000000,10910.000000,10910.000000,10910.000000,10277.000000,10910.000000,10277.000000,10910.000000,10910.000000
mean,5454.500000,8018.241094,37536.284785,93.196059,15.149071,48.091934,0.384256,2.979193,434.888330
std,3149.590053,6885.081434,30359.195670,34.442532,10.080349,27.940675,0.912457,2.399359,292.180556
min,0.000000,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,2727.250000,4014.453113,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,271.082527
50%,5454.500000,5771.147235,33813.500000,83.000000,14.000000,48.000000,0.000000,2.000000,382.564630
75%,8181.750000,8992.779137,62250.750000,109.000000,23.000000,71.000000,0.000000,4.000000,547.200000
max,10909.000000,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [5]:
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [6]:
df.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [7]:
df.shape

(10910, 26)

In [8]:
df.Gender.value_counts()

F    5573
M    5337
Name: Gender, dtype: int64

In [9]:
df.isnull()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
10906,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10907,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10908,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10909,False,False,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [10]:
df["State"]

0           Arizona
1        California
2        Washington
3            Oregon
4            Oregon
            ...
10905        Nevada
10906        Oregon
10907       Arizona
10908    California
10909           NaN
Name: State, Length: 10910, dtype: object

## Write a function to replace column "State" to different zones:
- California = West Region
- Oregon = North West
- Washington = East
- Arizona, Nevada = Central

In [11]:
df.State.value_counts()

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: State, dtype: int64

In [12]:
### mapping >>> dictionary

def state_group(x):
    if not x == x:
        return x
    else:
        dct = {'Washington' : 'East',
              'Arizona' : 'Central',
              'California' : 'West',
               'Oregon' : 'North West',
               'Nevada' : 'Central'
              }
        return dct[x]

df['Region'] = df['State'].apply(state_group)

In [13]:
df['region_mapped'] = list(map(state_group, df['State']))

In [14]:
df['region_mapped'].unique()

array(['Central', 'West', 'East', 'North West', nan], dtype=object)

In [15]:
df.region_mapped.value_counts()

West          3552
Central       2930
North West    2909
East           888
Name: region_mapped, dtype: int64

In [16]:
df['region_mapped'] = df['State'].astype('category')
df['region_mapped'].cat.categories

df['region_mapped'] = df['Region_2'].cat.set_categories(['Central','West','North West','East'])

KeyError: 'Region_2'

In [17]:
## call the categories

## Standardizing the data
Use string functions to standardize the text data (lower case)

## Which columns are numerical?

In [18]:
df.dtypes

Unnamed: 0                          int64
Customer                           object
State                              object
Customer Lifetime Value           float64
Response                           object
Coverage                           object
Education                          object
Effective To Date                  object
EmploymentStatus                   object
Gender                             object
Income                              int64
Location Code                      object
Marital Status                     object
Monthly Premium Auto                int64
Months Since Last Claim           float64
Months Since Policy Inception       int64
Number of Open Complaints         float64
Number of Policies                  int64
Policy Type                        object
Policy                             object
Renew Offer Type                   object
Sales Channel                      object
Total Claim Amount                float64
Vehicle Class                      object
Vehicle Size                       object
Vehicle Type                       object
Region                             object
region_mapped                    category
dtype: object

## Which columns are categorical?

## Check and deal with NaN values

Replacing null values with means of the column (for numerical columns)

In [19]:
df['Income'].fillna(value=df['Income'].mean()).astype(int)

0        48029
1            0
2        22139
3        49078
4        23675
         ...
10905        0
10906    61146
10907    39837
10908    64195
10909        0
Name: Income, Length: 10910, dtype: int64

In [20]:
df['Months Since Policy Inception'].fillna(value=df['Months Since Policy Inception'].mean()).astype(int)

0        52
1        26
2        31
3         3
4        31
         ..
10905    40
10906    68
10907    63
10908    27
10909     1
Name: Months Since Policy Inception, Length: 10910, dtype: int64

## Datetime format

- Extract the months from the dataset and store in a separate column. 
- Then filter the data to show only the information for the first quarter.
- If data from March does not exist, consider only January and February.

In [21]:
# Exctracting month by creating a dedicated column df["Month"] from a 
# column in datetime format df["Effective to date"]

# df['Month'] = pd.DatetimeIndex(df['Effective to Date']).month

In [27]:
df['Effective to Date'] = pd.to_datetime(df['Effective to Date'])

KeyError: 'Effective to Date'

In [29]:
df['Effective to Date'].dt.quarter

KeyError: 'Effective to Date'

In [ ]:
df['effective_to_date'].dt.month

In [ ]:
df['effective_to_date'].dt.second

In [ ]:
df['effective_to_date'].dt.minute

In [ ]:
df['effective_to_date'].dt.year

In [24]:
df["effective_to_date"]= pd.to_datetime(df["effective_to_date"])

KeyError: 'effective_to_date'

In [78]:
df["month_column"] = df["date_column"].apply(lambda x : x.month)

KeyError: 'date_column'

## Put all the previously mentioned data transformations into a function